.avatar {
    width: 120px;
    height: auto;
}

.nameHeader{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.nameTitle {
    flex-grow: 1;
    font-family: 'Playfair Display';
}

.intr-text {
    margin-bottom: -3%;
    text-decoration: none;
    color: rgba(51,51,51,.6);
    font-weight: lighter;
    font-size: 1.5em;
}

.name{
    font-size: 3.5em;
    margin: 0;
    opacity: .8;
}

h1 {
    font-weight: 500;   
}